<section class="profile-masthead">
    <header class="profile-logo">
        <div class="profile-logo-image" onclick="profilePhotoClick()">
            <img src="/assets/images/meii.jpg" />
        </div>
        <div class="profile-name">
            <div>Li Mei</div>
            <div style="font-size: 70%;">Developer</div>
        </div>
    </header>
    <aside class="profile-summary">
        <div class="summary-location summary-module">
            <a class="github-link" href="http://github.com/limeii" target="_blank" title="http://github.com/limeii">github.com/meii</a>
        </div>
    </aside>
</section>

<script type="text/javascript">
    function profilePhotoClick() {
        window.location = "https://limeii.github.io";
    };
</script>