<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../../../assets/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../../../assets/favicon.ico">
</head>

<body>
    <div class="wrapper">
        <div class="profile">

            {% include footer.html %}

            <section class="profile-content">
                <article class="profile-menu">
                    <div class="post-content-container">
                        <div class="post-content">
                            {{ content }}
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>