<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../../../assets/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../../../assets/favicon.ico">
</head>

<body>
    <div class="wrapper">
        <div class="profile">
            <section class="profile-masthead" id="masthead">
                <header class="profile-logo">
                    <div class="profile-logo-image">
                        <img src="/assets/images/meii.jpg" />
                    </div>
                    <div class="profile-name">
                        <h1>Li Mei </br>
                            <span style="font-size: 60%;">Developer</span>
                        </h1>

                    </div>
                </header>
                <aside class="profile-summary">
                    <div class="summary-location summary-module">
                        <a href="http://github.com/limeii">github.com/meii</a>
                    </div>
                </aside>
            </section>

            <section class="profile-content" id="content">
                <article class="profile-menu" id="menu">
                    <div id="Angular" class="menu-category">
                        <h3 class="menu-category-name">缓存问题</h3>

                        <p>问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。
                            问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。
                            问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。
                            问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。
                            问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。
                            问题是只有得到用户的授权，Google才会同意"云冲印"读取这些照片。那么，"云冲印"怎样获得用户的授权呢？ 传统方法是，用户将自己的Google用户名和密码，告诉"云冲印"，后者就可以读取用户的照片了。这样的做法有以下几个严重的缺点。

                        </p>
                    </div>

                </article>
            </section>
        </div>
    </div>


    <footer class="footer">
        <nav class="footer-navigation">
            <p class="copyright">© 2018 Li Mei. All rights reserved.</p>
            <p>contact email: limei90s@foxmail.com</p>
        </nav>
    </footer>
</body>

</html>